// colors
$link-color: #fff;
$btn-primary-color:  #000;
$body-background-color: #1f8;
$sidebar-color: ;
$body-text-color: ;
$search-background-color: ;
$code-background-color: ;
$body-heading-color: ;
$search-result-preview-color: ;
$table-background-color: ;
